<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/lib/DonThuoc.css " asp-append-version="true" />
<div class="prescription-wrapper">
    <h2 class="title">Đơn Thuốc</h2>

    <div class="info-block">
        <h3>Thông tin bệnh nhân</h3>
        <div class="info-grid">
           
        </div>
    </div>

    <div class="table-block">
        <h3>Thông tin đơn thuốc</h3>
        <table class="medicine-table">
            <thead>
                <tr>
                    <th>TT</th>
                    <th>Tên thuốc</th>
                    <th>Số lượng</th>
                    <th>Đơn vị tính</th>
                    <th>Cách dùng</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody class="thuoc-body">
               
            </tbody>
        </table>

        <div class="btn-delete-container">
            <button class="delete-button"><i class="fas fa-trash-alt"></i> Xác nhận cấp thuốc</button>
        </div>
    </div>
</div>
<script src="~/js/nhanvienyte/donthuoc.js"></script>


