@using System.Text.Json
<link rel="stylesheet" href="~/css/lib/QLDonThuoc.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="main-content">
    <h2>Đơn Thuốc</h2>

</div>
<script src="~/js/nhanvienyte/qlthuoc.js"></script>

